footer {
    background-color: white;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    height: 60px;
    position: fixed;
    text-align: center;
    width: 100%;
}

@media screen and (max-width:800px) {
    footer {
        height: 40px;
    }
    
}

@media screen and (max-width:400px) {
    footer {
        height: 20px;
        /* padding-top: 100px; */
    }

}

@media (prefers-color-scheme: dark) {
    footer {
        border-top: 1px solid #a1a1a1;
        background-color: rgb(18, 18, 18);
    }

}